In [2]:
import pandas as pd
from keplergl import KeplerGl
import geopandas as gpd
df = gpd.read_file("2018-10-24T22_01_39.000Z.csv")
df.head()

,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,HADEVELOPT,HOUSING_PSA,...,TRANSIT_DISTRICT,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,geometry
0,831526991,67,BROOKLYN,03/31/2018,23:30:00,03/31/2018,23:37:00,COMPLETED,,,...,,UNKNOWN,UNKNOWN,E,1003227,177460,40.653751263,-73.931609227,"(40.653751263, -73.931609227)",None
1,496736340,120,STATEN ISLAND,03/31/2018,23:20:00,03/31/2018,23:30:00,COMPLETED,RICHMOND TERRACE,10143,...,,<18,BLACK,F,962748,174174,40.644726131,-74.077483159,"(40.644726131, -74.077483159)",None
2,399593692,105,QUEENS,03/31/2018,23:15:00,03/31/2018,23:20:00,COMPLETED,,,...,,18-24,BLACK,F,1056932,200034,40.715433534,-73.737816163,"(40.715433534, -73.737816163)",None
3,282376455,110,QUEENS,03/31/2018,23:10:00,03/31/2018,23:20:00,COMPLETED,,,...,,25-44,WHITE HISPANIC,M,1014990,210503,40.744413503,-73.889065158,"(40.744413503, -73.889065158)",None
4,201598299,78,BROOKLYN,03/31/2018,23:10:00,03/31/2018,23:19:00,COMPLETED,572 WARREN STREET,2379,...,,25-44,BLACK,F,989141,187733,40.681967344,-73.982367054,"(40.681967344, -73.982367054)",None

In [22]:
#Create a basemap 
map = KeplerGl(height=600, width=800)
#show the map
map

User Guide: https://github.com/keplergl/kepler.gl/blob/master/docs/keplergl-jupyter/user-guide.md

KeplerGl(height=600)

In [8]:
df.Longitude = pd.to_numeric(df.Longitude, errors="coerce")

In [9]:
df.Latitude = pd.to_numeric(df.Latitude, errors="coerce")

In [24]:
# Create a gepdataframe
gdf = gpd.GeoDataFrame(df, geometry=gpd.points_from_xy(df.Longitude, df.Latitude))
# Add data to Kepler
map.add_data(data=gdf, name="crimes")

In [26]:
map

KeplerGl(config={'version': 'v1', 'config': {'visState': {'filters': [], 'layers': [{'id': '8zolk0r', 'type': …